BUILD_ENV=
COMMUNITY_API_KEY=
THEGRAPH_API_KEY=

#NEXT_PUBLIC_ENV

# Matomo analytics
NEXT_PUBLIC_MATOMO_URL='https://dashboardrealtokencommunity.matomo.cloud/'
# 1: prod ; 2: develop
NEXT_PUBLIC_MATOMO_SITE_ID=2