{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "insertFinalNewline": true,
  "endOfLine": "auto",
  "importOrder": [
    "^react",
    "^next",
    "^@(.*)$",
    "^i18next(.*)",
    "^(?!(src|../|./))(.*)",
    "^src(.*)$",
    "^(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
